<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    {% include analytics.html %}
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/tdcstylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/github-light.css" media="screen">
  </head>
  <body>

    <section class="page-header">
      <h1 class="project-name">Transporation Data Challenge</h1>
      <h2 class="project-tagline">Hackathon by the Midwest Big Data Hub and Bridging Big Data Project Team</h2>

      <a href="https://bridgingbigdata.github.io/pages/tdc.html#theme" class="btn">Themes</a>
      <a href="https://bridgingbigdata.github.io/pages/tdc.html#agenda" class="btn">Agenda</a>
      <a href="https://bridgingbigdata.github.io/pages/tdc.html#registration" class="btn">Register</a>
      <a href="https://bridgingbigdata.github.io/pages/tdc.html#upcoming-community-events" class="btn">Other Events</a>
      <a href="/pages/bbd2017.html" class="btn">BBD 2017 Workshop</a>
    </section>


    <section class="main-content">
      <div class="container">

  	{{ content }}

      </div><!-- /.container -->
      <footer class="site-footer">


      </footer>

    </section>


  </body>
</html>
